{% extends "base.html" %}

{% block title %}Про нас - {{ block.super }}{% endblock %}

{% block content %}
  <div class="container mt-4 p-4 border rounded" style="background-color: #343a40; color: white;">
    <h2 class="mb-4">Ласкаво просимо в наш магазин автозапчастин!</h2>

    <p>Наша компанія спеціалізується на наданні якісних автозапчастин для різних марок та моделей автомобілів. Ми прагнемо задовольнити потреби наших клієнтів, пропонуючи широкий асортимент товарів і високий рівень обслуговування.</p>

    <p>Чому обирають нас:</p>
    <ul>
      <li>Великий вибір автозапчастин;</li>
      <li>Якісні оригінальні та аналогові запчастини;</li>
      <li>Доступні ціни та акції;</li>
      <li>Швидка та зручна доставка;</li>
      <li>Професійні консультації спеціалістів.</li>
    </ul>

    <p>Ми пишаємося своєю роботою і прагнемо зробити покупки автозапчастин легкими та приємними для наших клієнтів.</p>
  </div>
{% endblock %}
