{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_delivery_payment_css.css" %}">
{% endblock %}

{% block content %}
    <div class="container mt-4 p-3 border rounded text-center" style="background-color: #343a40; color: white;">
        <h1 class="mt-3 pt-3"><strong>{{ content }}</strong></h1>
        <ul style="list-style-type: none; padding: 0;">
            <li>Безкоштовна доставка в межах міста.</li>
            <li>Ми приймаємо оплату готівкою та електронними способами.</li>
            <li>Доступні різні методи оплати для вашого зручності.</li>
        </ul>

        <div class="text-left mt-4">
            <h2>Як здійснюється доставка?</h2>
            <p>Ми надаємо безкоштовну доставку в межах міста. Доставка зазвичай здійснюється протягом 1-2 робочих днів після оформлення замовлення.</p>

            <h2>Способи оплати:</h2>
            <p>Ми приймаємо оплату готівкою при отриманні товару або електронними способами оплати, такими як кредитні картки та електронні перекази.</p>

            <h2>Гарантія якості:</h2>
            <p>Ми гарантуємо якість наших товарів. Якщо ви не задоволені товаром, ми готові повернути вам гроші або обміняти товар на інший.</p>
        </div>
    </div>
{% endblock %}
